@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@400;500&display=swap");
:root {
  --text-colour-dark: #161616;
  --text-colour-mid: #b4b4b4;
  --text-colour-light: white;
}

* {
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: var(--primary-colour);
  margin: 0;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  display: block;
  position: relative;
  color: var(--text-colour-dark);
  padding-top: 10vh;
}

h1::after {
  display: block;
  margin: auto;
  content: '';
  width: 2em;
  height: 3px;
  background: currentColor;
  border-radius: 1em;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-colour-dark);
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 2em;
  color: var(--text-colour-dark);
}

p {
  color: var(--text-colour-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

li {
  margin: 0;
  padding: 0;
}

.text-mid {
  color: var(--text-colour-mid);
}

.intro-fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-fade-in.appear {
  opacity: 1;
}

.intro-slide-right {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slide-right.appear {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.intro-slide-left {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slide-left.appear {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.intro-slide-up {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slide-up.appear {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.intro-slide-down {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro-slide-down.appear {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.button {
  text-align: center;
  color: var(--button-colour);
  padding: .4em 1em;
  font-size: 1.4em;
  font-family: 'Roboto Mono';
  border-radius: 0.2em;
  border: 2px var(--button-colour) solid;
  -webkit-transition: background-color 0.2s ease-out 0.1s, color 0.15s ease 0s, border-radius 0.3s ease-out, -webkit-transform 0.5s ease-out !important;
  transition: background-color 0.2s ease-out 0.1s, color 0.15s ease 0s, border-radius 0.3s ease-out, -webkit-transform 0.5s ease-out !important;
  transition: background-color 0.2s ease-out 0.1s, color 0.15s ease 0s, border-radius 0.3s ease-out, transform 0.5s ease-out !important;
  transition: background-color 0.2s ease-out 0.1s, color 0.15s ease 0s, border-radius 0.3s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
}

.button:hover {
  background-color: var(--button-colour);
  color: var(--button-colour-text);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  border-radius: 0.5em;
}

.button:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.cursor {
  overflow: hidden;
  position: fixed;
  z-index: 10000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  top: 0;
  left: 0;
  -webkit-transition: top 0.05s ease-out, left 0.05s ease-out, -webkit-transform 0.15s ease;
  transition: top 0.05s ease-out, left 0.05s ease-out, -webkit-transform 0.15s ease;
  transition: transform 0.15s ease, top 0.05s ease-out, left 0.05s ease-out;
  transition: transform 0.15s ease, top 0.05s ease-out, left 0.05s ease-out, -webkit-transform 0.15s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

.interactable {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.interactable:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: -80px;
  z-index: 10;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  pointer-events: none;
}

.nav-bar.menu-open .nav-mobile-dropdown {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.nav-bar.menu-open .nav-bar, .nav-bar.menu-open .nav-mobile-dropdown {
  pointer-events: all !important;
}

.nav-bar .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.nav-bar .nav-desktop {
  background: var(--portfolio-colour-c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  pointer-events: all !important;
}

.nav-bar .nav-desktop .nav-name-logo {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav-bar .nav-desktop .nav-name-logo:hover {
  color: var(--text-colour-mid);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.nav-bar .nav-mobile {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar .nav-mobile .nav-mobile-header {
  background: var(--portfolio-colour-c);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: all;
}

.nav-bar .nav-mobile .nav-name-logo {
  text-decoration: none;
  color: var(--text-colour-light);
  font-size: 1.8em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav-bar .nav-mobile .nav-name-logo:hover {
  color: var(--text-colour-mid);
}

.nav-bar .nav-mobile .nav-mobile-style {
  color: var(--text-colour-light);
  font-family: "Roboto Mono";
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.nav-bar .nav-mobile .nav-mobile-style .cst {
  color: #476eff;
}

.nav-bar .nav-mobile .nav-mobile-style .str {
  color: #7eed98;
}

.nav-bar .nav-mobile .nav-mobile-content {
  border-left: 1px dashed var(--text-colour-light);
  padding-left: 0.5em;
  margin-left: 0.5em;
}

.nav-bar .nav-mobile .nav-mobile-dropdown {
  background: var(--portfolio-colour-c);
  padding: 1rem;
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
          clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

.nav-bar .nav-mobile .nav-mobile-menu {
  width: 2.3em;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-bar .nav-mobile .nav-mobile-menu:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.nav-bar .nav-mobile .nav-mobile-menu:active {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.nav-bar .nav-mobile .nav-mobile-menu.menu-open {
  display: none;
}

.nav-bar .nav-mobile .nav-mobile-exit {
  display: none;
  width: 2.3em;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav-bar .nav-mobile .nav-mobile-exit:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.nav-bar .nav-mobile .nav-mobile-exit:active {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.nav-bar .nav-mobile .nav-mobile-exit.menu-open {
  display: block;
}

.nav-bar li {
  padding: 0.5em;
}

.nav-bar li a {
  color: var(--text-colour-light);
  font-family: "Roboto Mono";
  font-size: 1.5em;
  display: block;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  padding: 0;
}

.nav-bar li a:hover {
  color: var(--text-colour-mid);
}

#demo-canvas {
  background: var(--primary-colour);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 110%, 0% 110%);
          clip-path: polygon(0 0, 100% 0%, 100% 110%, 0% 110%);
}

.home .home-animation {
  width: 100%;
  height: 100%;
  position: fixed;
}

.home .container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85%;
}

.home .home-splash {
  margin-top: 2rem;
  color: var(--text-colour-mid);
  font-family: 'Roboto Mono';
  text-align: left;
}

.home .home-splash .heading-mobile {
  width: 80vw;
  height: 40vh;
}

.home .home-splash .heading-mobile .heading-mobile-text {
  font-family: 'Roboto Mono';
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: var(--text-colour-mid);
}

.home .home-splash .heading-mobile .heading-mobile-text span, .home .home-splash .heading-mobile .heading-mobile-text a {
  font-weight: 500;
}

.home .home-splash .heading-mobile .heading-mobile-text::after {
  content: "|";
  -webkit-animation: blink 0.5s linear infinite alternate;
          animation: blink 0.5s linear infinite alternate;
}

.home .home-splash .heading-desktop-name, .home .home-splash .heading-mobile-name {
  font-family: 'Roboto Mono';
  margin: 0px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #529952;
}

.home .home-splash .heading-desktop-name span, .home .home-splash .heading-mobile-name span {
  font-weight: 500;
  color: #529952;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.home .home-splash .heading-desktop-name span:hover, .home .home-splash .heading-mobile-name span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .home-splash .heading-desktop {
  background: #1e1e1e80;
  width: 85vw;
  border: 1px var(--text-colour-mid) solid;
  border-radius: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50vh;
  overflow: hidden;
}

.home .home-splash .heading-desktop .cst {
  color: #476eff;
}

.home .home-splash .heading-desktop .str {
  color: #7eed98;
}

.home .home-splash .heading-desktop .heading-desktop-style {
  width: 100%;
  padding-left: 1em;
  border-left: 2px dashed var(--text-colour-mid);
  margin-left: 0.5em;
}

.home .home-splash .heading-desktop .heading-dekstop-taskbar {
  height: 80px;
  border-bottom: 1px var(--text-colour-mid) solid;
  background: #1e1e1e80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.home .home-splash .heading-desktop .heading-dekstop-taskbar p {
  color: var(--text-colour-light);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .home-splash .heading-desktop .heading-dekstop-taskbar a {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .home-splash .heading-desktop .heading-dekstop-taskbar a img {
  height: 30px;
}

.home .home-splash .heading-desktop .heading-desktop-window {
  padding: 2rem;
}

.home .home-splash .heading-desktop .heading-desktop-window p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home .home-splash .heading-desktop .heading-desktop-name {
  font-size: 2rem;
}

.home .home-splash .heading-desktop .heading-desktop-text {
  font-family: 'Roboto Mono';
  font-weight: 400;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 150%;
  color: var(--text-colour-mid);
}

.home .home-splash .heading-desktop .heading-desktop-text span, .home .home-splash .heading-desktop .heading-desktop-text a {
  font-weight: 500;
}

.home .home-splash .heading-desktop .heading-desktop-text::after {
  content: "|";
  -webkit-animation: blink 0.5s linear infinite alternate;
          animation: blink 0.5s linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home .home-splash span {
  color: var(--text-colour-span);
}

.home .home-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

.home .home-mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home .home-mouse a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .home-mouse .home-scroll {
  position: relative;
  width: 20px;
  height: 30px;
  -webkit-box-shadow: inset 0 0 0 2px var(--button-colour);
          box-shadow: inset 0 0 0 2px var(--button-colour);
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.home .home-mouse .home-scroll:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .home-mouse .home-scroll::after {
  content: '';
  width: 4px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--button-colour);
  -webkit-animation: mouse 1.7s infinite;
          animation: mouse 1.7s infinite;
}

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 7px);
            transform: translate(-50%, 7px);
  }
}

@keyframes mouse {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 7px);
            transform: translate(-50%, 7px);
  }
}

.about {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}

.about .container {
  padding: 2rem;
  z-index: 1;
  position: relative;
}

.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about-col, .about .about-col-minor {
  display: table;
  width: 100%;
  padding: 0.5em;
}

.about .about-col-major {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10em;
          flex: 1 1 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about-col-minor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20em;
          flex: 1 1 20em;
}

.about .about-col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20em;
          flex: 1 1 20em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .about-col .about-main {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}

.about .about-minor-style {
  padding: 1rem;
}

.about .about-profile {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  margin: 1em;
}

.about .about-profile .about-profile-image {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 0.2em;
  outline-color: var(--text-colour-light);
}

.about .left-col {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-content: baseline centre;
}

.about .about-wave {
  display: inline-block;
  vertical-align: sub;
  width: 1em;
  -webkit-transform-origin: 30% 70%;
          transform-origin: 30% 70%;
  -webkit-animation: wave 2.5s infinite;
          animation: wave 2.5s infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.about .about-minor {
  font-weight: 300;
}

.about::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--primary-colour-about);
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

.work {
  margin-top: 0;
  padding-top: 5em;
  padding-left: 0;
  padding-right: 0;
}

.work h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.work .work-software .work-text-portfolio {
  margin-top: 0;
  padding-top: 0;
}

.work .work-text {
  padding-top: 0;
  padding-left: 3em;
  padding-right: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  text-align-last: center;
}

.work .work-text-portfolio {
  margin-top: 2em;
  padding: 3em;
}

.work .work-main-sub {
  font-weight: 300;
}

.work .work-space {
  margin-top: 10vh;
}

.work .work-down {
  width: 5em;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: bounce-down 2s infinite;
          animation: bounce-down 2s infinite;
}

.work .work-down:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes bounce-down {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce-down {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.work .work-sub {
  color: var(--text-colour-mid);
  font-family: "Roboto Mono";
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.work ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: visible;
}

.work .work-portfolio {
  overflow-y: visible;
}

.work .portfolio-template {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3em;
  padding-top: 5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.work .portfolio-template .portfolio-template-container {
  height: 100%;
}

.work .portfolio-template img {
  height: auto;
  max-width: 100%;
}

.work .portfolio-template::after {
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

.work .portfolio-colour-a::after {
  background: var(--portfolio-colour-a);
}

.work .portfolio-colour-b::after {
  background: var(--portfolio-colour-b);
}

.work .portfolio-colour-c::after {
  background: var(--portfolio-colour-c);
}

.work .portfolio-colour-d::after {
  background: var(--portfolio-colour-d);
}

.work .portfolio-colour-e::after {
  background: var(--portfolio-colour-e);
}

.work .portfolio-colour-f::after {
  background: var(--portfolio-colour-f);
}

.work .portfolio-colour-g::after {
  background: var(--portfolio-colour-g);
}

.work .portfolio-colour-h::after {
  background: var(--portfolio-colour-h);
}

.work .portfolio-header {
  font-family: "Roboto Mono";
  color: var(--text-colour-light);
  font-size: 1.5em;
}

.work .portfolio-header::before {
  display: block;
  margin: 0;
  content: '';
  width: 2.5em;
  height: 3px;
  margin-bottom: 0.5em;
  background: var(--text-colour-light);
}

.work .portfolio-main {
  font-family: "Poppins";
  color: var(--text-colour-light);
  font-size: 2em;
}

.portfolio-header {
  padding: 0;
  margin: 1em 0;
}

.portfolio-header .portfolio-header-logo img {
  display: inline-block;
  width: 4rem;
}

.portfolio {
  background-color: var(--primary-colour);
  margin: 0;
  padding: 0;
}

.portfolio h2 {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
}

.portfolio h2::after {
  display: block;
  content: '';
  margin-top: 1em;
  width: 3em;
  height: 3px;
  background: currentColor;
  border-radius: 1em;
}

.portfolio p {
  color: white;
  font-weight: 300;
  font-size: 1.3em;
  text-align: justify;
}

.portfolio .portfolio-text-main {
  overflow: hidden;
  width: 100%;
  margin: 2em 0;
}

.portfolio .portfolio-image-header {
  display: block;
  width: 100%;
}

.portfolio .portfolio-text-header {
  margin: 3em;
  font-weight: 300;
  color: var(--text-colour-light);
}

.portfolio .portfolio-text-header span {
  font-weight: 400;
}

.portfolio .portfolio-text-header p {
  color: var(--text-colour-light);
}

.portfolio .portfolio-text-header::after {
  display: block;
  content: '';
  width: 3em;
  height: 3px;
  background: currentColor;
  border-radius: 1em;
}

.portfolio .portfolio-container {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  place-items: top center;
}

.portfolio .portfolio-container .portfolio-content {
  margin-right: 3em;
}

.portfolio .portfolio-overview {
  margin: 3em;
  width: auto;
}

.portfolio .portfolio-overview .portfolio-image {
  display: block;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
}

.portfolio .portfolio-design {
  width: auto;
  background: linear-gradient(45deg, #3d3582 0%, #2a266d 100%);
}

.portfolio .portfolio-design .portfolio-design-header {
  padding: 3em;
}

.portfolio .portfolio-design .portfolio-design-image img {
  width: 100%;
}

.portfolio .portfolio-design .portfolio-design-footer {
  padding: 3em;
}

.portfolio .portfolio-design .portfolio-design-footer::before {
  display: block;
  content: '';
  width: 3em;
  height: 3px;
  background: white;
  border-radius: 1em;
}

.portfolio .portfolio-mockup {
  width: auto;
  margin-top: 3em;
}

.portfolio .portfolio-mockup .portfolio-image {
  display: inline;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.portfolio .portfolio-mockup .portfolio-container {
  margin: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.portfolio .portfolio-mockup .portfolio-content {
  width: auto;
  background: white;
  height: 500px;
  border-radius: 0.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.portfolio .portfolio-mockup .portfolio-content:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.portfolio .portfolio-responsive {
  width: auto;
  margin: 3em;
}

.portfolio .portfolio-responsive .portfolio-video {
  width: 40vw;
  max-width: 100%;
  max-height: 100%;
}

.hobbies {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5em;
  padding: 3em;
}

.hobbies .hobbies-header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.hobbies .hobbies-art {
  padding-top: 3em;
}

.hobbies .hobbies-centre {
  display: none;
}

.hobbies .hobbies-sub {
  color: var(--text-colour-mid);
  font-family: "Roboto Mono";
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.hobbies span {
  font-family: "Roboto Mono";
}

.hobbies .hobbies-mobile-images {
  overflow: hidden;
  height: 40vh;
}

.hobbies .hobbies-mobile-images .hobbies-mobile-photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.hobbies .hobbies-mobile-images .hobbies-mobile-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  height: 100%;
}

.hobbies .hobbies-mobile-images li {
  height: 100%;
  scroll-snap-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  list-style: none;
}

.hobbies .hobbies-mobile-images li img {
  height: 95%;
  border: 3px solid var(--text-colour-light);
  border-radius: 1em;
  pointer-events: none;
  -webkit-transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
  transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, border-radius 0.3s ease;
  transition: transform 0.3s ease, border-radius 0.3s ease, -webkit-transform 0.3s ease;
  margin: 0.5rem;
}

.hobbies .hobbies-mobile-images li:hover {
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 0.5em;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.hobbies .hobbies-down {
  margin: auto;
  margin-top: 2em;
  width: 5em;
  cursor: pointer;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.hobbies::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--primary-colour-hobbies);
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
}

.contact {
  padding-top: 2em;
}

.contact .contact-text-sub {
  text-align: justify;
  text-align-last: center;
}

.contact .contact-info {
  padding: 2em;
  display: block;
}

.contact .contact-text {
  margin-bottom: 10vh;
}

.contact .contact-text .contact-text-heading {
  text-align: center;
  font-size: 2em;
}

.contact .contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-email-container {
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
}

.contact .contact-email-container .contact-email-button {
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto Mono';
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contact .contact-email-container .contact-email-button:hover {
  color: #f4a9a8;
}

.contact .contact-email-container .contact-email-button::after {
  content: "";
  border-right: currentColor 0.1em solid;
  padding: 0.1em;
  -webkit-animation: blink 0.5s linear infinite alternate;
          animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.contact .contact-resume {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info-social {
  margin: 0 auto;
}

.contact .contact-info-social .content {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-info-social .content li {
  padding: 0.8em;
}

.contact .contact-info-social .content li a {
  font-size: 3em;
  display: block;
}

.contact .contact-info-social .content li .contact-logo {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact .contact-info-social .content li .contact-logo:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  color: #f4a9a8;
}

.contact .contact-info-social .content li .contact-logo:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.footer {
  background-color: var(--primary-colour-dark);
  padding: 1.5rem;
}

.footer .footer-text {
  color: white;
  font-family: 'Roboto Mono';
  font-size: 1em;
}

@media screen and (max-width: 700px) {
  .nav-desktop {
    display: none !important;
  }
  .home-animation {
    opacity: 0.1;
  }
  .cursor {
    display: none !important;
  }
  .home-mouse {
    display: none !important;
  }
  .heading-desktop {
    display: none;
  }
  .hobbies-right-col {
    display: none;
  }
  .hobbies-down {
    display: block;
  }
  .contact-email-button {
    font-size: 1.2em;
  }
  .about-minor {
    font-size: 1em;
  }
  .about-minor, .about-main, .hobbies-text, .contact-text-sub {
    text-align: justify;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3.5em;
  }
  p {
    font-size: 1.3em;
  }
  .heading-mobile {
    display: none;
  }
  .heading-desktop {
    display: block;
  }
  .nav-mobile {
    display: none !important;
  }
  .nav-desktop .nav-name-logo {
    color: var(--text-colour-light);
    font-size: 1.4em;
    float: left;
    padding: 0.5em;
    margin: 0;
  }
  .nav-desktop .nav-desktop-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style: none;
    list-style-type: none;
    text-align: right;
  }
  .nav-desktop .nav-desktop-content li {
    display: inline-block;
  }
  .nav-desktop .nav-desktop-content a {
    display: block;
    font-size: 1em;
    font-family: 'Roboto Mono';
    color: var(--text-colour-light);
  }
  .nav-desktop .nav-desktop-content a span {
    color: var(--text-colour-mid);
  }
  .nav-desktop .nav-desktop-content a:hover {
    color: var(--text-colour-mid);
  }
  .about-text .about-col, .about-text .about-col-minor {
    margin: 1em;
  }
  .work {
    overflow: hidden;
  }
  .work .work-main {
    font-size: 1.3em;
  }
  .work li {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 2em;
  }
  .work li .portfolio-template {
    height: 100%;
    background-color: inherit;
  }
  .work li .portfolio-template:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  .work li .portfolio-template::after {
    background-color: none;
    border-radius: 1em;
  }
  .contact-email-button {
    font-size: 1.5em;
  }
  .hobbies-right-col {
    display: none;
  }
  .about-minor, .about-main, .hobbies-text {
    text-align: justify;
  }
}

@media screen and (min-width: 1080px) {
  p {
    font-size: 1.5em;
  }
  h1 {
    font-size: 6em;
  }
  .about-minor-style {
    display: table-cell;
    vertical-align: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .container {
    margin: 3em;
  }
  .work .work-main {
    font-size: 1.6em;
    margin: 2em;
  }
  .work .work-main-sub {
    font-size: 1.2em;
    margin: 1.5rem 0;
  }
  .work .work-down {
    width: 7em;
  }
  .hobbies .container {
    margin: 3em;
  }
  .hobbies h1 {
    margin-top: 1em;
  }
  .hobbies .hobbies-mobile-images {
    display: none;
  }
  .hobbies .hobbies-art {
    margin-top: 20%;
  }
  .hobbies .hobbies-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hobbies .hobbies-centre {
    padding-top: 3em;
  }
  .hobbies .hobbies-left-col {
    width: 100%;
  }
  .hobbies .hobbies-right-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .hobbies .hobbies-right-col .images-left-col, .hobbies .hobbies-right-col .images-right-col {
    width: 100%;
    max-width: 10vw;
    margin: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hobbies .hobbies-right-col .images-left-col ul, .hobbies .hobbies-right-col .images-right-col ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    background: var(--text-colour-light);
    border-radius: 1em;
    margin: 0.5rem 0;
  }
  .hobbies .hobbies-right-col .images-left-col ul li, .hobbies .hobbies-right-col .images-right-col ul li {
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hobbies .hobbies-right-col .images-left-col ul li img, .hobbies .hobbies-right-col .images-right-col ul li img {
    width: 100%;
    border-radius: 0.5em;
    -webkit-transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
    transition: border-radius 0.3s ease, -webkit-transform 0.3s ease;
    transition: border-radius 0.3s ease, transform 0.3s ease;
    transition: border-radius 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .hobbies .hobbies-right-col .images-left-col ul li img:hover, .hobbies .hobbies-right-col .images-right-col ul li img:hover {
    border-radius: 0.5em;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .hobbies .hobbies-right-col .images-left-col ul li img:active, .hobbies .hobbies-right-col .images-right-col ul li img:active {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  .hobbies .hobbies-right-col .images-right-col {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .hobbies .hobbies-right-col .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem;
  }
  .contact .contact-text-sub {
    text-align: center;
  }
  .contact .contact-email-button {
    font-size: 1.7em;
  }
  .contact .contact-text-heading {
    padding: 2em;
  }
  .contact .container {
    margin: 6em;
  }
}

@media screen and (min-width: 1290px) {
  .about-text .about-col {
    margin: 1em;
  }
  .about-text .about-col-minor {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1580px) {
  .about-text {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media screen and (max-height: 300px) {
  .heading-mobile {
    font-size: 0.8em;
    display: block;
  }
  .heading-desktop {
    display: none;
  }
}

@media screen and (min-height: 400px) {
  .heading-mobile-text {
    font-size: 2em;
  }
  .heading-desktop-text {
    font-size: 2em;
  }
}

@media screen and (min-height: 800px) {
  .heading-mobile-text {
    font-size: 2.3em;
  }
  .heading-desktop-text {
    font-size: 2.7em;
  }
}

@media screen and (min-height: 1000px) {
  .heading-mobile-text {
    font-size: 3em;
  }
  .heading-desktop-text {
    font-size: 3.5em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-colour: white;
    --primary-colour-about: #949CDF;
    --primary-colour-hobbies: #f4a9a8;
    --primary-colour-dark: #161616;
    --text-colour-span: var(--text-colour-light);
    --button-colour: var(--text-colour-dark);
    --button-colour-text: var(--text-colour-light);
    --portfolio-colour-a: #fbc6a4;
    --portfolio-colour-b: #f4a9a8;
    --portfolio-colour-c: #1e1e1e;
    --portfolio-colour-d: #949cdf;
    --portfolio-colour-e: #bddbd5;
    --portfolio-colour-f: #79b4b7;
    --portfolio-colour-g: #433887;
    --portfolio-colour-h: #94B3FD;
  }
  .about-minor {
    color: var(--text-colour-light);
  }
  .heading-desktop-text a, .heading-mobile-text a {
    color: var(--text-colour-dark);
  }
  .text-bg {
    color: var(--text-colour-dark);
  }
  .about-wave {
    fill: var(--text-colour-dark);
  }
  .work-main-sub {
    color: #575757;
  }
  .work-down {
    stroke: var(--text-colour-dark);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-colour: #141414;
    --primary-colour-about: #202022;
    --primary-colour-hobbies: #202022;
    --primary-colour-dark: #202022;
    --text-colour-span: var(--text-colour-light);
    --button-colour: var(--text-colour-light);
    --button-colour-text: var(--text-colour-dark);
    --portfolio-colour-a: #1e1e1e;
    --portfolio-colour-b: #1a1a1a;
    --portfolio-colour-c: #181818;
    --portfolio-colour-d: #1c1c1c;
    --portfolio-colour-e: #1a1a1a;
    --portfolio-colour-f: #181818;
    --portfolio-colour-g: #181818;
    --portfolio-colour-h: #1a1a1a;
  }
  .text-bg {
    color: var(--text-colour-light);
  }
  .about-minor {
    color: var(--text-colour-mid);
  }
  .heading-desktop-text a, .heading-mobile-text a {
    color: var(--text-colour-light);
  }
  .about-wave {
    fill: var(--text-colour-light);
  }
  .work-main-sub {
    color: var(--text-colour-mid);
  }
  .work-down {
    stroke: var(--text-colour-light);
  }
}
/*# sourceMappingURL=main.css.map */