
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@400;500&display=swap');

:root {
    --text-colour-dark: #161616;
    --text-colour-mid: #b4b4b4;
    --text-colour-light: white;
    
}

html {
    scroll-behavior: smooth;
}

body {
    transition: background-color 0.5s ease;
    background-color:  var(--primary-colour);
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    display: block;
    position: relative;
    color: var(--text-colour-dark);
}

h1::after{
    display: block;
    margin: auto;
    content: '';
    width: 2em;
    height: 3px;
    background: currentColor;
    border-radius: 1em;
}

h2, h5{
    color: var(--text-colour-dark);
}

p{
    color: var(--text-colour-dark);
}

.text-mid{
    color: var(--text-colour-mid);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5{
    font-size: 1.8em;
    margin:  0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin:  0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

li{
    margin:  0;
    padding: 0;
}

section {
    padding: 2em;
}

.fade-in{
    opacity: 0;
    transition: opacity 0.25s ease-in;

    &.appear{
        opacity: 1;
    }
}

.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}



.nav-bar {
    background: var(--primary-colour-dark);
    padding: 1em;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 17%, 0 17%);
    transition: all 0.5s ease-in-out;

    
    &.menu-open{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .nav-header {
        display: flex;
        place-content: space-between;
    }

    .nav-mobile-menu {
        margin-right: 1em;
        padding-right: 1em;
        float: right;
        width: 2.3em;
        cursor: pointer;

        transition: all 0.1s ease;

        &:hover{
            transform: scale(0.98);
        }
        &:active{
            transform: scale(0.88);
        }

        &.menu-open{
            display: none;
        }
    }

    .nav-mobile-exit {
        display: none;
        margin-right: 1em;
        padding-right: 1em;
        float: right;
        width: 2.3em;
        cursor: pointer;

        transition: all 0.1s ease;

        &:hover{
            transform: scale(0.98);
        }
        &:active{
            transform: scale(0.88);
        }

        &.menu-open{
            display: block;
        }
    }

    .nav-mobile-dropdown{
        margin-top: 1em;
    }

    .nav-mobile {
        background: var(--primary-colour-dark);
        width: 100%;
        padding-left: 0.5em;
        text-align: left;
        margin-bottom: 0;

        .nav-name-logo {
            text-decoration: none;
            color: var(--text-colour-light);
            font-size: 1.8em;
        }

        .nav-mobile-style{
            color: var(--text-colour-light);
            font-family: "Roboto Mono";
            font-size: 1em;
            padding: 0;
            margin: 0;

            .cst{
                color: #476eff;
            }
            .str{
                color: #7eed98;
            }
        }

        .nav-mobile-content{
            border-left: 1px dashed var(--text-colour-light);
            padding-left: 0.5em;
            margin-left: 0.5em;
        }   

        li{
            a{
                color: var(--text-colour-light);
                font-family: "Roboto Mono";
                font-size: 1.5em;
                display: block;
                padding: 0.5em;

                &:hover{
                    color: var(--text-colour-mid);
                }
            }
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;

    .hero-splash {
        color: var(--text-colour-mid);
        font-family: 'Roboto Mono';
        text-align: left;

        .heading-mobile{
            width: 80vw;
            height: 40vh;

            .heading-mobile-text{
                font-family: 'Roboto Mono';
                font-weight: 400;
                overflow-wrap: break-word;
                white-space: pre-wrap;
                color: var(--text-colour-mid);

                span, a{
                    font-weight: 500;
                }

                &::after{
                    content: "|";
                    animation: blink 0.5s linear infinite alternate;
                }
            }   
        }

        .heading-desktop{
            width: 80vw;
            height: 40vh;

            .cst{
                color: #476eff;
            }
            .str{
                color: #7eed98;
            }

            .heading-desktop-style{
                width: 100%;
                padding-left: 1em;
                border-left: 2px dashed var(--text-colour-mid);
                margin-left: 0.5em;

            }

            .heading-desktop-text{
                font-family: 'Roboto Mono';
                font-weight: 400;
                margin: 0;
                overflow-wrap: break-word;
                white-space: pre-wrap;
                line-height: 150%;
                color: var(--text-colour-mid);

                span, a{
                    font-weight: 500;
                }

                &::after{
                    content: "|";
                    animation: blink 0.5s linear infinite alternate;
                }
            }   
        }

        @keyframes blink{
            0% {
                opacity:1;
              }
              49% {
                opacity:1;
              }
              50% {
                opacity:0;
              }
              100% {
                opacity:0;
              }
          }

    
        span {
            color: var(--text-colour-span);
        }
    }
    
    .hero-cta {
    
        padding-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .primary-cta
        {
            text-align: center;
            color: var(--button-colour);
    
            padding: .2em 1em;
            font-size: 1.4em;
        
            border-radius: 0.2em;
            border-color: var(--button-colour);
            border-width: 0.15em;
            border-style: solid;

            transition: background-color 0.2s linear 0.1s , color 0.2s linear 0s;
            transition: all 0.1s ease;


            &:hover{
                background-color: var(--button-colour);
                color: var(--button-colour-text);
                transform: scale(0.98);
                border-radius: 0.5em;
            }
            &:active{
                transform: scale(0.92);
            }
        }
        
    }
}

.about {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    //padding: 3em;

    .about-text{
        margin: 1em;
    }

    .about-col {
        display: table;
        width: 100%;
        height: 100%;
        padding: 0.5em;

        .about-main{
            display: table-cell;
            vertical-align: middle;
        }
    }

    .about-col-minor{
        display: table;
        width: 100%;
        height: 100%;
        padding: 0.5em;
    }

    .about-profile {
        display: flex;
        justify-content: center;
        padding: 1em;

        .about-profile-image{
            display: block;
            width: 100%;
            height: auto;
            max-width: 300px;
            max-height: 300px;
            border-radius: 50%;
            outline-style: solid;
            outline-width: 0.2em;
            outline-color: var(--text-colour-light);
        }
    }

    .left-col {
        display: inline-flex;
        place-content: baseline centre;
    }

    .about-wave {
        display: inline-block;
        vertical-align: sub;
        width:  1em;
        //font-size: 1em;
        transform-origin: 30% 70%; 
        //transform: rotate(45deg);
        animation: wave 2.5s infinite;

    @keyframes wave{
        0% { transform: rotate(0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate(0.0deg) }  /* Reset for the last half to pause */
       100% { transform: rotate(0.0deg) }
      }
        
    }

    .about-minor {
        color: var(--text-colour-light);
        font-size: 1em;
    }

    p {
        font-size: 1.5em;
    }

    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: var(--primary-colour-about);
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);
    }
}

.work{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 0;
    padding-right: 0;

    .work-software{
        .work-text-portfolio{
            margin-top: 0;
            padding-top: 0;
        }
    }

    .work-text{
        padding-top: 0;
        padding-left: 3em;
        padding-right: 3em;
        text-align: justify;
    }

    .work-text-portfolio{
        margin-top: 2em;
        padding: 3em;
    }

    .work-main-sub{
        color: var(--text-colour-mid);
    }

    .work-space{
        margin-top: 10vh;
    }

    .work-down{
        display:  block;
        margin: auto;
        width: 5em;
        cursor:pointer;
        transition: all 1s ease;
        animation: bounce-down 2s infinite;


        &:hover{
            transform: scale(1.1);
        }
        
        @keyframes bounce-down {
            0%, 
            20%, 
            50%, 
            80%, 
            100% { transform: translateY(0); }
            40% { transform: translateY(-20px); }
            60% { transform: translateY(-10px); }
          }
        
    }

    .work-sub{
        color: var(--text-colour-mid);
        margin:  0;
        padding: 0;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        overflow: visible;
        
    }

    .work-portfolio{
        overflow-y: visible;
    }

    .portfolio-template{
        
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 3em;
        padding-top: 5em;
        transition: all 1s ease;
        cursor: pointer;
    
        &:hover{
            transform: scale(1.05);
        }
    
        img{
            height: auto;
            max-width: 100%;
        }
    
        &::after{
            position: absolute;
            background-color: inherit;
            width: 100%;
            height: 100%;
            content: '';
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: top right;
            transform: skewY(-4deg);
        }
    }
    
    .portfolio-colour-a::after{
        background: var(--portfolio-colour-a);
    }
    
    .portfolio-colour-b::after{
        background: var(--portfolio-colour-b);
    }
    
    .portfolio-colour-c::after{
        background: var(--portfolio-colour-c);
    }
    
    .portfolio-colour-d::after{
        background: var(--portfolio-colour-d);
    }
    
    .portfolio-colour-e::after{
        background: var(--portfolio-colour-e);
    }
    
    .portfolio-colour-f::after{
        background: var(--portfolio-colour-f);
    }
    
    .portfolio-colour-g::after{
        background: var(--portfolio-colour-g);
    }
    
    .portfolio-colour-h::after{
        background: var(--portfolio-colour-h);
    }

    .portfolio-header{
        font-family: "Roboto Mono";
        color: var(--text-colour-light);
        font-size: 1.5em;

        &::before{
            display: block;
            margin: 0;
            content: '';
            width: 2.5em;
            height: 3px;
            margin-bottom: 0.5em;
            background: var(--text-colour-light);
        }
    }
    
    .portfolio-main{
        font-family: "Poppins";
        color: var(--text-colour-light);
        font-size: 2em;
    }
}

.hobbies{

    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5em;
    padding: 3em;

    .hobbies-art{
        padding-top: 3em;
    }

    .hobbies-centre{
        display: none;
    }

    .hobbies-sub{
        color: var(--text-colour-light);
        margin:  0;
        padding: 0;
    }

    span{
        font-family: "Roboto Mono";
    }

    .hobbies-mobile-images{
        width:  80vw;
        height: auto;
        //overflow-x: hidden;


        .hobbies-mobile-photography{
            list-style: none;
            height: 100%;
            display: flex;
            scrollbar-color: var(--text-colour-mid);
            scrollbar-width: thin;
            //overflow-x: hidden;
        }

        .hobbies-mobile-art{
            list-style: none;
            height: 100%;
            display: flex;
            scrollbar-color: var(--text-colour-mid);
            scrollbar-width: thin;
            //overflow-x: hidden;
        }

        
        li{

            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1em;

            width: 60vw;
            height: auto;
            flex-shrink: 0;

            transition: all .3s ease;


            img{
                cursor: grab;
                display: inline-block;
                max-width: 100%;
                height: 90%;
                
                
                border: 3px solid var(--text-colour-light);
                border-radius: 1em;
                pointer-events: none;
            }

            &:hover{
                border-radius: 0.5em;
                transform: scale(0.98);
            }
            &:active{
                transform: scale(0.92);
            }
        }
    }

    .hobbies-down
    {

        margin: auto;
        margin-top: 2em;
        width: 5em;
        cursor:pointer;

        
        animation: bounce 2s infinite;

        
        @keyframes bounce {
            0%, 
            20%, 
            50%, 
            80%, 
            100% { transform: translateY(0); }
            40% { transform: translateY(-30px); }
            60% { transform: translateY(-15px); }
          }
        
    }

    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: var(--primary-colour-hobbies);
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);
    }

}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 2em;

    h1{
        margin-bottom: 0;
    }

    .contact-info{
        padding: 2em; 
    }

    .contact-text{
        margin-bottom: 10vh;

        .contact-text-heading{
            text-align: center;
            font-size: 2em;
        }
    }

    .contact-email{

        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        width: fit-content;
        transition: all .3s ease;

        &::after{
            display: block;
            margin: 0;
            content: '';
            width: 96%;
            height: 1px;
            margin-bottom: 0.5em;
            background: currentColor;
        }

        &:hover{
            &::after{
                display: block;
                margin: 0;
                content: '';
                width: 96%;
                height: 1px;
                margin-bottom: 0.5em;
                background: #f4a9a8;
            }
        }

        .contact-email-button{
            text-align: center;
            font-family: 'Roboto Mono';
            font-size: 1.5em;
            transition: all .3s ease;

            &:hover{
                color: #f4a9a8;
            }

            &::after{
                content: "|";
                animation: blink 0.5s linear infinite alternate;
            }

            @keyframes blink{
                0% {
                    opacity:1;
                  }
                  49% {
                    opacity:1;
                  }
                  50% {
                    opacity:0;
                  }
                  100% {
                    opacity:0;
                  }
              }
        }
    }
    


    .contact-resume{
        
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-resume-button{
            text-align: center;
            color: var(--button-colour);
    
            padding: .2em 1em;
            font-size: 1.6em;
        
            border-radius: 0.2em;
            border-color: var(--button-colour);
            border-width: 0.15em;
            border-style: solid;

            transition: background-color 0.2s linear 0.1s , color 0.2s linear 0s;
            transition: all 0.3s ease;

            &:hover{
                background-color: var(--button-colour);
                color: var(--button-colour-text);
                transform: scale(0.98);
                border-radius: 0.5em;
            }
            &:active{
                transform: scale(0.92);
            }

        }
    }


    .contact-info-social{

        
        .content{
            //list-style-type: none;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            li{
                float: left;

                a{
                    font-size: 3em;
                    padding: 0.5em;
                    display: block;
                }
                .contact-logo{
                    transition: transform 0.2s ease-in;

                    &:hover{
                        transform: scale(0.95);
                    }
                    &:active{
                        transform: scale(0.92);
                    }
                }
            }
        }


    }
}

.footer{
    background-color: var(--primary-colour-dark);
    //overflow: hidden;


    .footer-text{
        color: white;
        font-family: 'Roboto Mono';
        font-size: 1em;
    }
}

@media screen and (max-width: 700px) {
    .nav-desktop {
        display: none;
    }
    .heading-desktop {
        display: none;
    }
    
    .hobbies-right-col{
        display:  none;
    }

    .hobbies-down{
        display:  block;
    }

    .about-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-minor, .about-main, .hobbies-text, .contact-text-sub{
        text-align: justify;
    }
}

@media screen and (min-width: 700px) {
    h1{
        font-size: 5em;
    }

    h5{
        font-size: 3.5em;
    }
    p{
        font-size: 1.3em;
    }

    .heading-mobile{
        display: none;
    }

    .heading-desktop{
        display: block;
    }
    
    .nav-mobile {
        display: none;
    }

    .nav-bar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav-desktop {
        display: block;

        .nav-name-logo {
            color: var(--text-colour-light);
            font-size: 1.4em;
            float: left;
            padding: 0.5em;
            margin: 0;
        }

        .nav-desktop-content{
            float: right;
            width: fit-content;
            list-style: none;
            list-style-type: none;
            padding: 0;
            margin-right: 2em;
            text-align: right;

            li{
                display: inline-block;
            }

            a{
                display: block;
                font-size: 1em;
                font-family: 'Roboto Mono';
                padding: 1em 2vw;
                color: var(--text-colour-light);

                &:hover{
                    color: var(--text-colour-mid);
                }
            }
        }

    }

    .about-text{
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: center;
        place-items: end center;

        .about-col, .about-col-minor{
            margin: 1em;
        }
    }
    

    .work{
        overflow: hidden;
        .work-main{
            font-size: 1.3em;
        }

        li{
            transition: all 0.5s ease;  
            padding: 2em;

            .portfolio-template{
                height: 100%;
                background-color: inherit;

                &:active{
                    transform: scale(0.98);
                }

                &::after{
                    background-color: none;
                    border-radius: 1em;
                }
            }

        }
    }

    .hobbies-right-col{
        display:  none;
    }

    .contact-text-sub{
        text-align: center;
    }

    .about-minor, .about-main, .hobbies-text {
        text-align: justify;
    }

}

@media screen and (min-width: 1080px) {
    p{
        font-size: 1.5em;
    }

    h1{
        font-size: 6em;
    }

    .about-minor-style{
        display: table-cell;
        vertical-align: top;
        align-items: center;
    }

    .work{
        .container{
            margin: 3em;
        }
        .work-text{
            text-align: center;
        }


        .work-main{
            font-size: 1.6em;
            margin: 2em;
        }

        .work-main-sub{
            font-size: 1.2em;
            margin: 2em;
        }

        .work-down{
            width: 7em;
        }
    }

    .hobbies{
        .container{
            margin: 3em;
        }

        h1{
            margin-top: 1em;
        }

        .hobbies-mobile-images{
            display: none;
        }

        .hobbies-art{
            margin-top: 20%;
        }
    
        .hobbies-content{
            display: flex;
            justify-content: left;
        }

        .hobbies-centre{
            padding-top: 3em;
        }
    
        .hobbies-left-col{
            width: 100%;
            margin-left: 5em;
            margin-right: 5em;
            display: inline-block;
        }

    
        .hobbies-right-col{
            display: inline-block;
            width: 50vw;
            margin-left: 5em;
            margin-right: 5em;
    
            .images-left-col{
                width: 100%;
                margin: 2em;
    
                ul{
                    transform: translateY(-5%);
                }
            }
            .images-right-col{
                width: 100%;
                margin: 2em;
    
                ul{
                    transform: translateY(10%);
                }
            }
    
            .images{
                display: flex;
                justify-content: center;
    
                ul{
                    background: var(--primary-colour-light);
                    border-radius: 1em;
                    padding: 0.8em;
                    margin: 2em;

    
                    li{
                        padding: 0.4em;
                    }
                }
    
                img{
                    border-radius: 0.5em;
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    transition: all .3s ease;

                    &:hover{
                        border-radius: 0.5em;
                        transform: scale(0.95);
                    }
                    &:active{
                        transform: scale(0.92);
                    }

                }
            }
    
        }
    }

    .contact{
        .contact-text-heading{
            padding: 2em;
    }

        .container{
            margin: 6em;
        }
    }

    
}

@media screen and (min-width: 1290px) {
    .about-text{
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        justify-content: center;
        place-items: end center;

        .about-col{
            margin: 1em;
        }

        .about-col-minor{
            margin-top: 50px;
        }
    }


}

@media screen and (max-height: 300px){
    .heading-mobile{
        font-size: 0.8em;
        display: block;
    }

    .heading-desktop{
        display: none;
    }
}

@media screen and (min-height: 400px){
    .heading-mobile-text{
        font-size: 2em;
    }

    .heading-desktop-text{
        font-size: 2em;
    }
}

@media screen and (min-height: 800px){
    .heading-mobile-text{
        font-size: 2.3em;
    }
    .heading-desktop-text{
        font-size: 2.7em;
    }

    
}

@media screen and (min-height: 1000px){
    .heading-mobile-text{
        font-size: 3em;
    }

    .heading-desktop-text{
        font-size: 3.5em;
    }
}

@media (prefers-color-scheme: light){
    :root {
        //--primary-colour: #141414;
        --primary-colour: white;
    
        //--primary-colour-about: #202022; //#949CDF
        //--primary-colour-hobbies: #202022; //#f4a9a8
    
        --primary-colour-about: #949CDF; //#949CDF
        --primary-colour-hobbies: #f4a9a8; //#f4a9a8
    
        //--primary-colour-dark: #202022; //#161616
        --primary-colour-dark: #161616; //#161616
    
        //--text-colour-span: var(--text-colour-light);
        --text-colour-span: var(--text-colour-dark);
    
        //--button-colour: var(--text-colour-mid);
        --button-colour: var(--text-colour-dark);
        --button-colour-text: var(--text-colour-light);
        
        --portfolio-colour-a: #fbc6a4;
        --portfolio-colour-b: #f4a9a8;
        --portfolio-colour-c: #1e1e1e;
        --portfolio-colour-d: #949cdf;
        --portfolio-colour-e: #bddbd5;
        --portfolio-colour-f: #79b4b7;
        --portfolio-colour-g: #433887;
        --portfolio-colour-h: #94B3FD;
    }

    .heading-desktop-text, .heading-mobile-text{
        a{
            color: var(--text-colour-dark);
        }
    }
    
    .text-bg{
        color: var(--text-colour-dark);
    }

    .about-wave{
        fill: var(--text-colour-dark);
    }

    
    .work-down{
        stroke:var(--text-colour-dark);
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --primary-colour: #141414;
        //--primary-colour: white;
    
        --primary-colour-about: #202022; //#949CDF
        --primary-colour-hobbies: #202022; //#f4a9a8
    
        //--primary-colour-about: #949CDF; //#949CDF
        //--primary-colour-hobbies: #f4a9a8; //#f4a9a8
    
        --primary-colour-dark: #202022; //#161616
        //--primary-colour-dark: #161616; //#161616
    
        --text-colour-span: var(--text-colour-light);
        //--text-colour-span: var(--text-colour-dark);
    
        --button-colour: var(--text-colour-light);
        --button-colour-text: var(--text-colour-dark);
        //--button-colour: var(--text-colour-dark);

        
        --portfolio-colour-a: #1e1e1e;
        --portfolio-colour-b: #1a1a1a;
        --portfolio-colour-c: #181818;
        --portfolio-colour-d: #1c1c1c;
        --portfolio-colour-e: #1a1a1a;
        --portfolio-colour-f: #181818;
        --portfolio-colour-g: #181818;
        --portfolio-colour-h: #1a1a1a;
    }
    
    .text-bg{
        color: var(--text-colour-light);
    }

    .heading-desktop-text, .heading-mobile-text{
        a{
            color: var(--text-colour-light);
        }
    }

    .about-wave{
        fill: var(--text-colour-light);
    }

    .work-down{
        stroke:var(--text-colour-light);
    }
}
