
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@300;400;500&display=swap');

:root{
    --text-colour-dark: #161616;
    --text-colour-mid: #b4b4b4;
    --text-colour-light: white;

    color-scheme: light dark;
}

*{
    cursor: none !important;
}

html{
    scroll-behavior: smooth;
}

body{
    transition: background-color 0.5s ease;
    background-color:  var(--primary-colour);
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1{
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    display: block;
    position: relative;
    color: var(--text-colour-dark);
    padding-top: 10vh;

    &::after{
        display: block;
        margin: auto;
        content: '';
        width: 2em;
        height: 3px;
        background: currentColor;
        border-radius: 1em;
    }
}

h2{
    font-size: 1.8em;
    font-weight: 400;
    margin:  0;
    padding: 0;
    color: var(--text-colour-dark);
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 2em;
    color: var(--text-colour-dark);
}

p{
    color: var(--text-colour-dark);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin:  0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

li{
    margin:  0;
    padding: 0;
}

.text-mid{
    color: var(--text-colour-mid);
}

.intro-fade-in{
    opacity: 0;
    transition: all 0.5s ease;

    &.appear{
        opacity: 1;
    }
}

.intro-slide-right{
    transform: translateX(-40px);
    transition: all 0.5s ease;
    &.appear{
        transform: translateX(0px);
    }
}

.intro-slide-left{
    transform: translateX(40px);
    transition: all 0.5s ease;

    &.appear{
        transform: translateX(0px);
    }
}

.intro-slide-up{
    transform: translateY(40px);
    transition: all 0.5s ease;

    &.appear{
        transform: translateY(0px);
    }

}

.intro-slide-down{
    transform: translateY(-40px);
    transition: all 0.5s ease;

    &.appear{
        transform: translateY(0px);
    }

}

.button{
    text-align: center;
    color: var(--button-colour);

    padding: .4em 1em;
    font-size: 1.4em;
    font-family: 'Roboto Mono';
    font-weight: 400;

    border-radius: 0.2em;
    border: 1px var(--button-colour) solid;

    transition: background-color 0.2s ease-out 0.1s, color 0.15s ease 0s, border-radius 0.3s ease-out, transform 0.5s ease-out !important;
    // transition: all 0.3s ease;

    &:hover{
        background-color: #007acc;
        color: var(--button-colour-text);
        transform: scale(0.98);
        border-radius: 0.5em;
        font-weight: 400;
    }
    &:active{
        transform: scale(0.92);
    }
}

.cursor{
    overflow: hidden;
    position: fixed;
    z-index: 10000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    top: 0;
    left: 0;
    transition: transform 0.15s ease, top 0.05s ease-out, left 0.05s ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.interactable{
    transition: transform 0.5s ease-out;
    &:hover{
        transform: scale(1.05);
    }
}

.nav-bar {
    position: fixed;
    width: 100%;
    top: -80px;
    z-index: 10;
    transition: top 0.5s ease-out;
    pointer-events: none;
    overflow: hidden;
    
    &.menu-open{
        .nav-mobile-dropdown{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        }
        .nav-bar, .nav-mobile-dropdown{
            pointer-events: all !important;
        }
    }

    .nav-header{
        display: flex;
        place-content: space-between;
    }

    .nav-desktop{
        background: var(--portfolio-colour-c);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        pointer-events: all !important;
        border-width: 2px;
        border-bottom: var(--primary-colour-dark);

        .nav-name-logo{
            transition: all 0.4s ease-out;

            &:hover{
                color: var(--text-colour-mid);
                transform: scale(1.01);
            }
        }
    }

    .nav-mobile{
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .nav-mobile-header{
            background: var(--portfolio-colour-c);
            // align-self: center;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            pointer-events: all;
        }

        .nav-name-logo{
            text-decoration: none;
            color: var(--text-colour-light);
            font-size: 1.8em;
            align-self: flex-start;

            transition: all 0.4s ease-out;

            &:hover{
                color: var(--text-colour-mid);
            }
        }

        .nav-mobile-style{
            color: var(--text-colour-light);
            font-family: "Roboto Mono";
            font-size: 1em;
            padding: 0;
            margin: 0;

            .cst{
                color: #476eff;
            }
            .str{
                color: #7eed98;
            }
        }

        .nav-mobile-content{
            border-left: 1px dashed var(--text-colour-light);
            padding-left: 0.5em;
            margin-left: 0.5em;

            li{
                width: fit-content;
            }
        }   

        .nav-mobile-dropdown{
            background: var(--portfolio-colour-c);
            padding: 1rem;
            transition: clip-path 0.5s ease-in-out;
            clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        }

        .nav-mobile-menu{
            width: 2.3em;
            cursor: pointer;
    
            transition: all 0.1s ease;
    
            &:hover{
                transform: scale(0.98);
            }
            &:active{
                transform: scale(0.88);
            }
    
            &.menu-open{
                display: none;
            }
        }
    
        .nav-mobile-exit{
            display: none;
            width: 2.3em;
            cursor: pointer;
    
            transition: all 0.1s ease;
    
            &:hover{
                transform: scale(0.98);
            }
            &:active{
                transform: scale(0.88);
            }
    
            &.menu-open{
                display: block;
            }
        }
    }

    li{
        padding: 0.5em;
        a{
            color: var(--text-colour-light);
            font-family: "Roboto Mono";
            font-size: 1.5em;
            display: block;
            transition: all 0.4s ease-out;
            padding: 0;
            &:hover{
                color: var(--text-colour-mid);
            }
        }
    }
}



.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 110%, 0% 110%);

    .home-animation{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    .container{
        align-self:flex-start;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
    }

    .home-splash{
        margin-top: 10vh;
        color: var(--text-colour-mid);
        font-family: 'Roboto Mono';
        text-align: left;

        .heading-mobile{
            width: 80vw;
            min-height: 40vh;
            background: #1e1e1e80;
            border: 1px var(--text-colour-mid) solid;
            border-radius: 0.5rem;
            overflow: hidden;

            .heading-mobile-name{
                margin-bottom: 1rem;
            }

            .heading-mobile-text{
                font-family: 'Roboto Mono';
                font-weight: 400;
                overflow-wrap: break-word;
                white-space: pre-wrap;
                color: var(--text-colour-mid);
                margin: 0;

                span, a{
                    font-weight: 500;
                }

                &::after{
                    content: "|";
                    animation: blink 0.5s linear infinite alternate;
                }
            }
            
            .heading-mobile-window{
                padding: 0.5rem 2rem;

                p{
                    width: fit-content;
                }
            }

            .heading-mobile-taskbar{
                height: 50px;
                border-bottom: 1px var(--text-colour-mid) solid;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1rem;

                p{
                    color: var(--text-colour-light);
                    align-self: center;
                }

                a{
                    justify-self: right;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    img{
                        justify-self: center;
                        height: 20px;
                    }
                }
            }
        }

        .heading-desktop-name, .heading-mobile-name{
            font-family: 'Roboto Mono';
            margin: 0px;
            font-weight: 400;
            width: fit-content;
            color: #529952;

            span{
                font-weight: 500;
                color: #529952;
                transition: transform 0.2s ease-out;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }


        .heading-desktop{
            background: #1e1e1e80;
            width: 85vw;
            border: 1px var(--text-colour-mid) solid;
            border-radius: 0.5rem;
            height: fit-content;
            min-height: 50vh;
            overflow: hidden;

            .cst{
                color: #476eff;
            }
            .str{
                color: #7eed98;
            }

            .heading-desktop-style{
                width: 100%;
                padding-left: 1em;
                border-left: 2px dashed var(--text-colour-mid);
                margin-left: 0.5em;
            }

            .heading-desktop-taskbar{
                height: 80px;
                border-bottom: 1px var(--text-colour-mid) solid;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1rem;

                p{
                    color: var(--text-colour-light);
                    align-self: center;
                }

                a{
                    justify-self: right;
                    align-self: center;
                    img{
                        height: 30px;
                    }
                }
            }

            .heading-desktop-window{
                padding: 2rem;

                p{
                    width: fit-content;
                }
            }

            .heading-desktop-name{
                font-size: 2rem;
            }

            .heading-desktop-text{
                font-family: 'Roboto Mono';
                font-weight: 400;
                margin: 0;
                width: fit-content;
                transform-origin: left;
                overflow-wrap: break-word;
                white-space: pre-wrap;
                line-height: 150%;
                color: var(--text-colour-mid);

                span, a{
                    font-weight: 500;
                }

                &::after{
                    content: "|";
                    animation: blink 0.5s linear infinite alternate;
                }

                @keyframes blink{
                    0% { opacity: 1; }
                    49% { opacity: 1; }
                    50% { opacity: 0; }
                    100% { opacity:0; }
                }
            
            }   
        }

        span {
            color: var(--text-colour-span);
        }
    }
    
    .home-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        align-self: center;
    }

    .home-mouse{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;

        a{
            align-self: center;
        }

        .home-scroll{
            position: relative;
            width: 20px;
            height: 30px;
            box-shadow: inset 0 0 0 2px var(--button-colour);
            border-radius: 25px;
            cursor: pointer;
            transition: all .25s;

            &:hover{
                transform: scale(1.1);
            }

            &::after{
                content: '';
                width: 4px;
                height: 6px;
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                
                background-color: var(--button-colour);

                animation: mouse 1.7s infinite;
            }

            @keyframes mouse{
                0%{
                    transform: translate(-50%, 0);
                }
                50%{
                    transform: translate(-50%, 7px);
                }
            }
        }

    }
}

.about{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;

    .container{
        padding: 2rem;
        z-index: 1;
        position: relative;
    }

    .about-text{
        display: flex;
        align-content: center;
        justify-content: right;
        flex-direction: column; 
        flex-wrap: wrap;
    }

    .about-col, .about-col-minor{
        display: table;
        width: 100%;
        padding: 0.5em;
        // justify-self: end;
    }

    .about-col-major{
        flex: 1 1 10em;
        display: flex;
        flex-wrap: wrap;
    }

    .about-col-minor{
        flex: 1 1 20em;
    }

    .about-col{
        flex: 1 1 20em;
        align-self: center;

        .about-main{
            display: table-cell;
            vertical-align: middle;
            padding: 1rem;
        }
    }

    .about-minor-style{
        padding: 1rem;
    }

    .about-profile{
        display: table-cell;
        vertical-align: middle;
        justify-content: center;
        padding: 1em;
        margin: 1em;

        .about-profile-image{
            display: block;
            margin: 0 auto;
            height: auto;
            max-width: 300px;
            max-height: 300px;
            border-radius: 50%;
            outline-style: solid;
            outline-width: 0.2em;
            outline-color: var(--text-colour-light);
        }
    }

    .left-col{
        display: inline-flex;
        place-content: baseline centre;
    }

    .about-wave{
        display: inline-block;
        vertical-align: sub;
        width:  1em;
        transform-origin: 30% 70%; 
        animation: wave 2.5s infinite;

        @keyframes wave{
            0% { transform: rotate(0.0deg) }
            10% { transform: rotate(14.0deg) }
            20% { transform: rotate(-8.0deg) }
            30% { transform: rotate(14.0deg) }
            40% { transform: rotate(-4.0deg) }
            50% { transform: rotate(10.0deg) }
            60% { transform: rotate(0.0deg) }
            100% { transform: rotate(0.0deg) }
        }
        
    }

    .about-minor{
        font-weight: 300;
    }

    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: var(--primary-colour-about);
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);
    }
}

.work{
    margin-top: 0;
    padding-top: 5em;
    padding-left: 0;
    padding-right: 0;

    h2{
        width: fit-content;
    }

    .work-software{
        .work-text-portfolio{
            margin-top: 0;
            padding-top: 0;
        }
    }

    .work-text{
        padding-top: 0;
        padding-left: 3em;
        padding-right: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        text-align-last: center;
    }

    .work-text-portfolio{
        margin-top: 2em;
        padding: 3em;
    }

    .work-main-sub{
        font-weight: 300;
    }

    .work-space{
        margin-top: 10vh;
    }

    .work-down{
        // margin: auto;
        width: 5em;
        cursor:pointer;
        transition: all 1s ease;
        animation: bounce-down 2s infinite;

        &:hover{
            transform: scale(1.1);
        }
        
        @keyframes bounce-down {
            0%, 
            20%, 
            50%, 
            80%, 
            100% { transform: translateY(0); }
            40% { transform: translateY(-20px); }
            60% { transform: translateY(-10px); }
        }
    }

    .work-sub{
        color: var(--text-colour-mid);
        font-family: "Roboto Mono";
        transform: translateX(-10px);
        font-size: 1em;
        margin:  0;
        padding: 0;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        overflow: visible;
    }

    .work-portfolio{
        overflow-y: visible;
    }

    .portfolio-template{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 3em;
        padding-top: 5em;
        transition: all 0.5s ease;
        
        cursor: pointer;

        .portfolio-template-container{
            height: 100%;
        }
    
        // &:hover{
        //     transform: scale(1.05);
        // }
    
        img{
            height: auto;
            max-width: 100%;
        }
    
        &::after{
            position: absolute;
            background-color: inherit;
            width: 100%;
            height: 100%;
            content: '';
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-origin: top right;
            transform: skewY(-4deg);
        }
    }
    
    .portfolio-colour-a::after{
        background: var(--portfolio-colour-a);
    }
    
    .portfolio-colour-b::after{
        background: var(--portfolio-colour-b);
    }
    
    .portfolio-colour-c::after{
        background: var(--portfolio-colour-c);
    }
    
    .portfolio-colour-d::after{
        background: var(--portfolio-colour-d);
    }
    
    .portfolio-colour-e::after{
        background: var(--portfolio-colour-e);
    }
    
    .portfolio-colour-f::after{
        background: var(--portfolio-colour-f);
    }
    
    .portfolio-colour-g::after{
        background: var(--portfolio-colour-g);
    }
    
    .portfolio-colour-h::after{
        background: var(--portfolio-colour-h);
    }

    .portfolio-header{
        font-family: "Roboto Mono";
        color: var(--text-colour-light);
        font-size: 1.5em;

        &::before{
            display: block;
            margin: 0;
            content: '';
            width: 2.5em;
            height: 3px;
            margin-bottom: 0.5em;
            background: var(--text-colour-light);
        }
    }
    
    .portfolio-main{
        font-family: "Poppins";
        color: var(--text-colour-light);
        font-size: 2em;
    }
}

.portfolio-header{
    padding: 0;
    margin: 1em 0;
    .portfolio-header-logo img{
        display: inline-block;
        width: 4rem;
    }
}

.portfolio{
    background-color: var(--primary-colour);
    margin: 0;
    padding: 0;

    h2{
        color: white;
        font-weight: 400;
        font-size: 1.3rem;

        &::after{
            display: block;
            content: '';
            margin-top: 1em;
            width: 3em;
            height: 3px;
            background: currentColor;
            border-radius: 1em;
        }
    }

    p{
        color: white;
        font-weight: 300;
        font-size: 1.3em;
        text-align: justify;
    }

    .portfolio-text-main{
        overflow: hidden;
        width: 100%;
        margin: 2em 0;
    }

    .portfolio-image-header{
        display: block;
        width: 100%;
    }

    .portfolio-text-header{
        margin: 3em;
        font-weight: 300;
        color: var(--text-colour-light);
        
        span{
            font-weight: 400;
        }
    
        p{
            color: var(--text-colour-light);
        }

        &::after{
            display: block;
            content: '';
            width: 3em;
            height: 3px;
            background: currentColor;
            border-radius: 1em;
        }
    }

    .portfolio-container{
        margin-top: 3em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: left;
        place-items: top center;

        .portfolio-content{
            margin-right: 3em;
        }
    }

    .portfolio-overview{
        margin: 3em;
        width: auto;

        .portfolio-image{
            display: block;
            text-align: center;
            height: auto;
            width: 100%;
            border-radius: 0.5rem;
        }
    }

    .portfolio-design{
        width: auto;
        background: linear-gradient(45deg, rgba(61,53,130,1) 0%, rgba(42,38,109,1) 100%);
        
        .portfolio-design-header{
            padding: 3em;
        }

        .portfolio-design-image img{
            width: 100%;
        }

        .portfolio-design-footer{
            padding: 3em;

                
            &::before{
                display: block;
                content: '';
                width: 3em;
                height: 3px;
                background: white;
                border-radius: 1em;
            }
        }
    }

    .portfolio-mockup{
        width: auto;
        margin-top: 3em;

        .portfolio-image{
            display: inline;
            margin: 0 auto;
            width: 100%;  
            text-align: center;
        }
        .portfolio-container{
            margin: 3em;
            justify-content: center;
            text-align: center;
        }

        .portfolio-content{
            width: auto;
            background: white;
            height: 500px;
            border-radius: 0.5rem;
            transition: all .3s ease;

            &:hover{
                transform: scale(0.95);
            }
        }
    }

    .portfolio-responsive{
        width: auto;
        margin: 3em;

        .portfolio-video{
            width: 40vw;
            max-width: 100%;
            max-height: 100%;
        }    
        
    }




}

.hobbies{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5em;
    padding: 3em;

    .hobbies-header{
        width: fit-content;
        transform: translateX(10px);
    }

    .hobbies-art{
        padding-top: 3em;
    }

    .hobbies-centre{
        display: none;
    }

    .hobbies-sub{
        color: var(--text-colour-light);
        font-family: "Roboto Mono";
        transform: translateX(-10px);
        font-size: 1em;
        margin:  0;
        padding: 0;
    }

    span{
        font-family: "Roboto Mono";
    }

    .hobbies-mobile-images{
        overflow: hidden;
        height: 40vh;

        .hobbies-mobile-photography{
            display: flex;
            flex-direction: row;
            overflow: visible;
            width: fit-content;
            height: 100%;
        }

        .hobbies-mobile-art{
            display: flex;
            flex-direction: row;
            overflow: visible;
            height: 100%;
        }
 
        li{
            height: 100%;
            scroll-snap-align: center;
            transition: all .3s ease;
            list-style: none;

            img{
                height: 95%;
                border: 3px solid var(--text-colour-light);
                border-radius: 1em;
                pointer-events: none;
                transition: transform 0.3s ease, border-radius 0.3s ease;
                margin: 0.5rem;
            }

            &:hover{
                cursor: grab;
                border-radius: 0.5em;
                transform: scale(0.95);
            }
        }
    }

    .hobbies-down
    {
        margin: auto;
        margin-top: 2em;
        width: 5em;
        
        cursor:pointer;
        
        animation: bounce 2s infinite;

        @keyframes bounce {
            0%, 
            20%, 
            50%, 
            80%, 
            100% { transform: translateY(0); }
            40% { transform: translateY(-30px); }
            60% { transform: translateY(-15px); }
        }
    }

    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: var(--primary-colour-hobbies);
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top right;
        transform: skewY(-4deg);
    }
}

.contact{
    padding-top: 2em;
    
    .contact-text-sub{
        text-align: justify;
        text-align-last: center;
    }

    .contact-info{
        padding: 2em; 
        display: block;
    }

    .contact-text{
        margin-bottom: 10vh;

        .contact-text-heading{
            text-align: center;
            font-size: 2em;
        }
    }

    .contact-email{
        display: flex;
        justify-content: center;
    }

    .contact-email-container{
        transition: all .3s ease;
        display: inline-block;

        .contact-email-button{
            display: inline-block;
            word-wrap: break-word;
            text-align: center;
            text-decoration: underline;
            font-family: 'Roboto Mono';
            transition: all .3s ease;

            &:hover{
                color: #f4a9a8;
            }

            &::after{
                content: "";
                border-right: currentColor 0.1em solid;
                padding: 0.1em;
                animation: blink 0.5s linear infinite alternate;
            }

            @keyframes blink{
            0% {
                opacity:1;
                }
                49% {
                opacity:1;
                }
                50% {
                opacity:0;
                }
                100% {
                opacity:0;
                }
            }
        }
    }

    .contact-resume{   
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-info-social{
        margin: 0 auto;

        .content{
            overflow: visible;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li{
                padding: 0.8em;

                a{
                    font-size: 3em;
                    display: block;
                }
                .contact-logo{
                    transition: all 0.2s ease-in;

                    &:hover{
                        transform: scale(0.95);
                        color: #f4a9a8;
                    }
                    &:active{
                        transform: scale(0.92);
                    }
                }
            }
        }
    }
}

.footer{
    background-color: var(--primary-colour-dark);
    padding: 1.5rem;

    .footer-text{
        color: white;
        font-family: 'Roboto Mono';
        font-size: 1em;
    }
}

@media screen and (max-width: 700px) {
    *{
        cursor: default !important;
    }

    .nav-desktop{
        display: none !important;
    }

    .home{
        height: 150vh !important;
    }

    .home-animation{
        opacity: 0.1;
    }

    .cursor{
        display: none !important;
    }

    .home-mouse{
        display: none !important;
    }

    .heading-desktop{
        display: none;
    }
    
    .hobbies-right-col{
        display: none;
    }

    .hobbies-down{
        display: block;
    }

    .contact-email-button{
        font-size: 1.2em;
    }

    .about-minor{
        font-size: 1em;
    }

    .about-minor, .about-main, .hobbies-text, .contact-text-sub{
        text-align: justify;
    }
}

@media screen and (min-width: 700px){
    h1{
        font-size: 5em;
    }

    h2{
        font-size: 3.5em;
    }
    p{
        font-size: 1.3em;
    }

    .heading-mobile{
        display: none;
    }

    .heading-desktop{
        display: block;
    }
    
    .nav-mobile{
        display: none !important;
    }

    .nav-desktop{

        .nav-name-logo{
            color: var(--text-colour-light);
            font-size: 1.4em;
            float: left;
            padding: 0.5em;
            margin: 0;
        }

        .nav-desktop-content{
            width: fit-content;
            list-style: none;
            list-style-type: none;
            text-align: right;

            li{
                display: inline-block;
                flex: 1 1 100%;
            }

            a{
                display: block;
                font-size: 1em;
                font-family: 'Roboto Mono';
                color: var(--text-colour-light);

                span{
                    color: var(--text-colour-mid);
                }

                &:hover{
                    color: var(--text-colour-mid);
                }
            }
        }
    }

    .about-text{
        .about-col, .about-col-minor{
            margin: 1em;
        }
    }
    
    .work{
        overflow: hidden;

        .work-main{
            font-size: 1.3em;
        }

        li{
            transition: all 0.5s ease;  
            padding: 2em;

            .portfolio-template{
                height: 100%;
                background-color: inherit;

                &:active{
                    transform: scale(0.98);
                }

                &::after{
                    background-color: none;
                    border-radius: 1em;
                }
            }
        }
    }

    .contact-email-button{
        font-size: 1.5em;
    }

    .hobbies-right-col{
        display:  none;
    }

    .about-minor, .about-main, .hobbies-text {
        text-align: justify;
    }
}

@media screen and (min-width: 1080px){
    p{
        font-size: 1.5em;
    }

    h1{
        font-size: 6em;
    }
    
    .about-minor-style{
        display: table-cell;
        vertical-align: top;
        align-items: center;
    }

    .work{
        .container{
            margin: 3em;
        }

        .work-main{
            font-size: 1.6em;
            margin: 2em;
        }

        .work-main-sub{
            font-size: 1.2em;
            margin: 1.5rem 0;
        }

        .work-down{
            width: 7em;
        }
    }

    .hobbies{
        .container{
            margin: 3em;
        }

        h1{
            margin-top: 1em;
        }

        .hobbies-mobile-images{
            display: none;
        }

        .hobbies-art{
            margin-top: 20%;
        }
    
        .hobbies-content{
            display: flex;
            justify-content: left;
        }

        .hobbies-centre{
            padding-top: 3em;
        }
    
        .hobbies-left-col{
            width: 100%;
        }

    
        .hobbies-right-col{
            display: flex;
            justify-content: center;
            width: 80%;
            // max-height: 150vh;

            .images-left-col, .images-right-col{
                // height: 100%;
                width: 100%;
                max-width: 10vw;
                margin: 0 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                ul{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    overflow: hidden;
                    background: var(--text-colour-light);
                    border-radius: 1em;
                    margin: 0.5rem 0;

                    li{
                        padding: 0.5rem;
                        display: flex;
                        justify-content: center;

                        img{
                            width: 100%;
                            border-radius: 0.5em;
                            transition: border-radius 0.3s ease, transform 0.3s ease;
        
                            &:hover{
                                border-radius: 0.5em;
                                transform: scale(0.95);
                            }
                            &:active{
                                transform: scale(0.92);
                            }
        
                        }
                    }
                }
            }

            .images-right-col{
                transform: translateY(10%);
            }
    
            .images{
                display: flex;
                justify-content: center;
                margin: 2rem;
            }
        }
    }

    .contact{
        .contact-text-sub{
            text-align: center;
        }

        .contact-email-button{
            font-size: 1.7em;
        }

        .contact-text-heading{
            padding: 2em;
        }

        .container{
            margin: 6em;
        }
    }
}

@media screen and (min-width: 1290px){
    .about-text{

        .about-col{
            margin: 1em;
        }

        .about-col-minor{
            margin-top: 50px;
        }
    }
}

@media screen and (min-width: 1580px){
    .about-text{
        flex-direction: row !important; 
    }
}

@media screen and (max-height: 300px){
    .heading-mobile{
        font-size: 0.8em;
        display: block;
    }

    .heading-desktop{
        display: none;
    }
}

@media screen and (min-height: 400px){
    .heading-mobile-text{
        font-size: 2em;
    }

    .heading-desktop-text{
        font-size: 2em;
    }
}

@media screen and (min-height: 800px){
    .heading-mobile-text{
        font-size: 2.3em;
    }
    .heading-desktop-text{
        font-size: 2.7em;
    }
}

@media screen and (min-height: 1000px){
    .heading-mobile-text{
        font-size: 3em;
    }

    .heading-desktop-text{
        font-size: 3.5em;
    }
}

@media screen and (prefers-color-scheme: light) and (max-width: 700px) {
    .home-animation{
        opacity: 0.6;
    }
}

@media (prefers-color-scheme: light){
    :root {
        --primary-colour: white;
    
        --primary-colour-about: #949CDF;
        --primary-colour-hobbies: #f4a9a8;
    
        --primary-colour-dark: #161616;
    
        --text-colour-span: #007acc;
    
        --button-colour: var(--text-colour-mid);
        --button-colour-text: var(--text-colour-light);
        
        --portfolio-colour-a: #fbc6a4;
        --portfolio-colour-b: #f4a9a8;
        --portfolio-colour-c: #1e1e1e;
        --portfolio-colour-d: #949cdf;
        --portfolio-colour-e: #bddbd5;
        --portfolio-colour-f: #79b4b7;
        --portfolio-colour-g: #433887;
        --portfolio-colour-h: #94B3FD;
    }

    .nav-desktop{
        span{
            color: #fff !important;
        }
    }

    .primary-cta{
        color: #007acc;
        background-color: #f2f2f6e0;
    }

    .home-scroll::after{
        background-color: #007acc !important;
    }

    .about-minor {
        color: var(--text-colour-light);
    }

    .heading-desktop-text, .heading-mobile-text{
        a{
            color: var(--text-colour-dark);
        }
    }

    .heading-desktop-taskbar, .heading-mobile-taskbar{
        background: #007acc;
    }

    .heading-desktop, .heading-mobile{
        background: #f2f2f6e0 !important;

        .str{
            color: #2b91af !important;
        }
    }
    
    .text-bg{
        color: var(--text-colour-dark);
    }

    .about-wave{
        fill: var(--text-colour-dark);
    }

    .work-main-sub{
        color: #575757;
    }
    
    .work-down{
        stroke:var(--text-colour-dark);
    }

    .contact-resume-button{
        border-color: var(--primary-colour-dark);
        color: var(--primary-colour-dark);
        border-width: 2px;
        font-weight: 400;
        background-color: unset;
    
        &:hover{
            background-color: var(--primary-colour-dark);
            color: var(--text-colour-light);
        }
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --primary-colour: #141414;
    
        --primary-colour-about: #202022;
        --primary-colour-hobbies: #202022;
    
        --primary-colour-dark: #202022;
    
        --text-colour-span: var(--text-colour-light);
    
        --button-colour: var(--text-colour-light);
        --button-colour-text: var(--text-colour-dark);

        --portfolio-colour-a: #1e1e1e;
        --portfolio-colour-b: #1a1a1a;
        --portfolio-colour-c: #181818;
        --portfolio-colour-d: #1c1c1c;
        --portfolio-colour-e: #1a1a1a;
        --portfolio-colour-f: #181818;
        --portfolio-colour-g: #181818;
        --portfolio-colour-h: #1a1a1a;
    }
    
    .text-bg{
        color: var(--text-colour-light);
    }

    .about-minor {
        color: var(--text-colour-mid);
    }

    .heading-desktop-text, .heading-mobile-text{
        a{
            color: var(--text-colour-light);
        }
    }

    .primary-cta{
        color: #fff;
        background-color: unset !important;
        
        &:hover{
            color: var(--button-colour-text);
            background-color: var(--button-colour) !important;
        }
    }

    .about-wave{
        fill: var(--text-colour-light);
    }

    .work-main-sub{
        color: var(--text-colour-mid);
    }

    .work-down{
        stroke:var(--text-colour-light);
    }

    .contact-resume-button{
        border-color: var(--button-colour);
        color: var(--button-colour);
        border-width: 2px;
        font-weight: 400;
        background-color: unset;
    
        &:hover{
            background-color: var(--button-colour);
            color: var(--button-colour-text);
        }
    }
}
